<%- include('./partials/header.ejs') %> 
<%- include('./partials/nav.ejs') %>

<div class="main-content">
  <h1>Найсвіжіші статті</h1>
  
  <% if (latestArticles.length > 0) { %>
    <div>
      <% latestArticles.forEach((post) => { %>
        <div>
          <h3>
            <a href="/post/<%= post._id %>" style="color: #000000;">
              <%= post.title %>
            </a>
          </h3>
          <p><%= post.description %></p>
          <p style="text-align: left;">
            ©<%= post.author || 'Unknown' %>
            <span style="float: right;"><%= post.createdAt.toLocaleDateString() %></span>
          </p>
        </div>
      <% }); %>
    </div>
  <% } else { %>
    <p>На жаль, немає статей для відображення.</p>
  <% } %>
</div>

<%- include('./partials/footer.ejs') %>