<%- include('./partials/header.ejs') %> 
<%- include('./partials/nav.ejs') %>

<div class="posts">
  <% if(posts.length) { %>
  <div>
    <h1 style="text-align: center">Статті</h1>

    <table class="table table-striped sorting">
      <thead>
        <tr>
          <th>Стаття</th>
          <th>Опис</th>
          <th>Автор</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if(posts.length) {%> 
          <% posts.forEach((post) => { %>
            <tr id="id_<%= post._id %>" class="">
              <td style="max-width: 300px;"><%= post.title %></td>
              <td style="max-width: 300px;"><%= post.description %></td>
              <td style="max-width: 100px;"><%= post.author %></td>
              <td>
                <a href="/edit-post/<%= post._id %>">
                  <img src="/public/img/edit.png" alt="Редагувати" style="width: 20px; height: 20px;">
                </a>
              </td>
              <td>
                <a class="confirmDeletion" href="" data-id="<%= post._id %>">
                  <img src="/public/img/delete.png" alt="Видалити" style="width: 20px; height: 20px;">
                </a>
              </td>
              <td>
                <a href="/post/<%= post._id %>">
                  <img src="/public/img/go.png" alt="Перейти" style="width: 20px; height: 20px;">
                </a>
              </td>
            </tr>
          <% }); %>
        <% } %>
      </tbody>
    </table>
  </div>
  <% } else { %>
    <h1>На жаль, немає статей для відображення.</h1>
  <% } %>
</div>

<script>
  document.addEventListener("click", (e) => {
  const id = e.target.closest('a')?.dataset?.id || null;
  if (id) {
    fetch(`/posts/${id}`, {
      method: "DELETE",
    }).then(() => {
      window.location.reload();
    });
  }
});
</script>

<%- include('./partials/footer.ejs') %>