<%- include('./partials/header.ejs', { title: post.title }) %> <%- include('./partials/nav.ejs') %>

<div class="post">
  <% if(post.title) { %>
  <div>
    <h1 style="text-align: center"><%= post.title %></h1>
    <p style="text-align: left"><%= post.description %></p>
    <p style="text-align: left">
      ©<%= post.author || 'Unknown' %>
      <span style="float: right"><%= post.createdAt.toLocaleDateString() %></span>
    </p>

    <button>
      <a href="/edit-post/<%= post._id %>">Редагувати статтю</a>
    </button>

    <button class="confirmDeletion" data-id="<%= post._id %>" style="color: #fff3e6">Видалити статтю</button>
  </div>
  <% } else { %>
  <h1 style="text-align: center">На жаль, немає такої статті для відображення.</h1>
  <% } %>
</div>

<script>
  document.addEventListener("click", (e) => {
    const id = e.target?.dataset?.id || null;
    if (id) {
      fetch(`/posts/${id}`, {
        method: "DELETE",
      }).then(() => {
        window.history.back();
      });
    }
  });
</script>

<%- include('./partials/footer.ejs') %>
